

.homepage-search{
    cursor: pointer;
}

.search-div{
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 1rem 0;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-input-div>input{
    font-size: inherit;
    font-family: inherit;
    padding: 0.2rem;
    margin: 0 1rem;
    width: 25rem;
}